[bumpversion]
current_version = 1.0.0
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:cablerobot-acronyms.dtx]

[bumpversion:file:cablerobot-symbols.dtx]
